body {
    font-size: 16px !important;
    font-family: 'Roboto'!important;
}


.screenshot {
  width: 200px;
  height: 150px;
}

.screenshot-container {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    width: 19%;
    padding: 4px;
}

.entities {
  color: red;
  /*font-weight: bold;*/
  /*text-decoration: underline;*/
}

.entities:hover {
  color: red;
  /*font-weight: bold;*/
  /*text-decoration: underline;*/
}


.keywords {
  /*background-color: green;*/
  color: #000;
  text-decoration: underline;
}

.keywords:hover {
  color: #000;
  text-decoration: underline;
}

a:hover {
  text-decoration: none!important;
}

#header {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.full-search-results {
      margin-top: 80px;
}

#header-wrap {
    width: 100%;
    position: fixed;
    z-index: 99;
}

/*font-family: 'Playball', cursive;
font-family: 'Rock Salt', cursive;*/

.logo {
  font-family: 'Playball', cursive!important;
}

/*h1 { font-family: ‘Metrophobic’, Arial, serif; font-weight: 400; }*/

.thumb {
  width: 200px;
}

#post_progressbar {
  height: 1px!important;
}

/*.active {
  background-color: red;
}*/

img {
    width: 100%;
    /*width: 50%;*/
    height: auto;
    float: left;
    margin-right: 2%;
    margin-bottom: 1%;
}

.navbar .btn-group{
  margin-top: 8px;
  margin-left: 3%
}

 .navbar-user {
    margin: 8px;
 }

 #main-form {
  width:63%;
 }

 #main-form .input-group {
  width: 100%;
  -webkit-transition: all .1s ease;
   -moz-transition: all .1s ease;
   transition: all .1s ease;
 }

.search-image {
  width: 10%;
}

.sidebar {
    height: 100%;
  }


.is_stuck {
  position: fixed;
}

.image-header{
  height: 20%;
}

.image-header-overlay {
  padding: 30px;
  color: #fff!important;
  text-shadow: 2px 2px 1px #454545;
}

.image-header-overlay-link,
.image-header-overlay-link:hover {
  color: #fff!important;
  text-decoration: none!important;
}

.article-userinfo {
    display: inline-block;
    width:100%;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
}

.article-userinfo small {
    font-size: 65%;
}

.main-bar {

    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px -1px 5px #888888;

}

.container {
  margin-bottom: 20px!important;
}

.article-header-info {
  margin-left: 65px;
}

#article-container {
  width: 98%;
}

#article-container ol {
  display: inline-block;
}

.navbar-form input {
    /*width: 90% !important;*/
}
.article-header-container {
    margin-top: 51px !important;
    width:103%;
}

.article {
    width:100%;
    padding: 10px;
    height: 64px;
    /*margin-bottom: 60px;*/
    /*background-color: green;*/
}

.article a,
.article a:hover {
    text-decoration: none;
}

.article:hover {
    background-color: #ddd;
}

.title {
    float: left;
}

.description {
  width: 40%;
  /*float: left;*/
}

.source {
    float: right;
}

.source a{
    color: #000;
    font-size: 12px;
    vertical-align: auto;
}

.timer {
    float: left;

    color: #000;
    font-size: 13px;
    margin-top: 5px;
    /*vertical-align: auto;*/
}



.related-links {
    width:100%;
    display: block;
    float: left;
}

.related-links li {
    height: 50px;
}

.related-matches a {
    color: #000;
    font-size: 11px;
    vertical-align: auto;
}

.related-matches a:hover {
    text-decoration: none;
}

.global-search {
    text-align:center;
    padding:10px;
  }
   .global-search * {
    display:inline-block;
    margin-bottom:0;
  }

   .global-search .form-control {
      width:120px;
  }

   .global-search a {
    display:block;
    padding-top:10px;
  }



@media (min-width:400px){
   .global-search {
    padding: 20px 0;
    text-align:center;
    }

   .global-search .form-control {
    width:300px;
   }

}

em {
  background-color: yellow;
}

.logo {
    color: #000;
    font-size: 31px;
    margin-left: 14%;
}

.logo span{
  color:red!important;
}

.typeahead.dropdown-menu {
  width: 53%;
}


#wrapper {
  width: 90%;
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto;
}

#columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

.pin {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.pin img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.pin p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
}

@media (min-width: 960px) {
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 1100px) {
  #columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}


.ibox-content {
    background-color: #FFFFFF;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #E7EAEC;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

.search-form {
    margin-top: 10px;
}

.search-result h3 {
    margin-bottom: 0;
    color: #1E0FBE;
}

.search-result .search-link {
    color: #006621;
}

.search-result p {
    font-size: 16px;
    margin-top: 5px;
}

.hr-line-dashed {
    border-top: 1px dashed #E7EAEC;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}

h2 {
    font-size: 18px;
    font-weight: 100;
}



 .sidebar-list {
   margin-left: -20px!important;
 } 

 .sidebar-list li {
    font-size: 12px;

 }