body {
    font-size: 16px !important;
}
img {
    width: 50%;
    height: auto;
    float: left;
    margin-right: 2%;
    margin-bottom: 1%;
}

.navbar .btn-group{
  margin-top: 8px;
  margin-left: 3%
}

 .navbar-user {
    margin: 8px;
 }

 #main-form {
  width:67%;
 }

 #main-form .input-group {
  width: 100%;
  -webkit-transition: all .1s ease;
   -moz-transition: all .1s ease;
   transition: all .1s ease;
 }

.main-bar {

    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px -1px 5px #888888;

}

.navbar-form input {
    /*width: 90% !important;*/
}
.container {
    margin-top: 80px !important;
}

.article {
    width:100%;
    padding: 10px;
    height: 44px;
}

.article a,
.article a:hover {
    text-decoration: none;
}

.article:hover {
    background-color: #ddd;
}

.title {
    float: left;
}

.source {
    float: right;
}

.source a{
    color: #000;
    font-size: 12px;
    vertical-align: auto;
}

.related-links {
    width:100%;
    display: block;
    float: left;
}

.related-links li {
    height: 50px;
}

.related-matches {
    color: #000;
    font-size: 11px;
    vertical-align: auto;
}

.global-search {
    text-align:center;
    padding:10px;
  }
   .global-search * {
    display:inline-block;
    margin-bottom:0;
  }

   .global-search .form-control {
      width:120px;
  }

   .global-search a {
    display:block;
    padding-top:10px;
  }



@media (min-width:400px){
   .global-search {
    padding: 20px 0;
    text-align:center;
    }

   .global-search .form-control {
    width:300px;
   }

}

em {
  background-color: yellow;
}

.logo {
    color: #000;
    font-size: 31px;
    margin-left: 14%;
}

.logo span{
  color:red!important;
}

.typeahead.dropdown-menu {
  width: 53%;
}